<h1>Student Details</h1>
<p>First Name: <%= @student.first_name.capitalize %></p>
<p>Last Name: <%= @student.last_name.capitalize %></p>
<p>Age: <%= @student.age %></p>
<p>House: <%= @student.house.name.capitalize %></p>
<p><a href="/students/<%= @student.id %>/edit">Edit Details</a></p>
